language: scala
sudo: false

scala:
  - 2.12.10
  - 2.13.1

jdk:
  - openjdk8
  - openjdk11

env:
  - SCALAJS_VERSION=0.6.32
  - SCALAJS_VERSION=1.5.1

script:
- sbt ++$TRAVIS_SCALA_VERSION test

cache:
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt
  - $HOME/.coursier
before_cache:
  # Tricks to avoid unnecessary cache updates
  # https://www.scala-sbt.org/1.x/docs/Travis-CI-with-sbt.html#Caching
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

